<footer id="footer">
	<div class="f1" data-aos="fade-up" data-aos-offset="10" data-aos-delay="250" data-aos-once="true">
		<div class="container">
			<div class="columns">
				<div class="col">
					<div class="logo">
						<a href="#!">
							<img src="img/logo-footer.svg" alt="full logo text" width="149" height="36">
						</a>
					</div>
					<div class="copy">
						&copy;2020 Copyright - Restoration Systems
					</div>
				</div>
				<div class="col">
					<div class="footer-links">
						<div class="col">
							<span>Visit</span>
							<ul class="useful-links">
								<li><a href="#!">About RS</a></li>
								<li><a href="#!">Projects</a></li>
							</ul>
						</div>
						<div class="col">
							<span><a class="lightbox-opener" href="#popup1">Contact</a></span>
							<address>
								Restoration Systems<br>
								1101 Haynes Street, Suite 211<br>
								Raleigh, North Carolina
							</address>
							<a href="tel:&#057;&#049;&#057;&#055;&#053;&#053;&#057;&#052;&#057;&#048;" class="tel-link">919-755-9490</a>
							<a class="lightbox-opener" href="#popup1">info@restorationsystems.com</a>
						</div>
						<div class="col">
							<span>Follow</span>
							<ul class="social-networks">
								<li><a class="fab fa-facebook-f" href="#!" target="_blank"></a></li>
								<li><a class="fab fa-twitter" href="#!" target="_blank"></a></li>
								<li><a class="fab fa-youtube" href="#!" target="_blank"></a></li>
								<li><a class="fab fa-instagram" href="#!" target="_blank"></a></li>
								<li><a class="fab fa-linkedin-in" href="#!" target="_blank"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>