<header id="header">
	<div class="top-header">
		<div class="container">
			<ul class="social-networks">
				<li><a class="fab fa-facebook-f" href="#!" target="_blank"></a></li>
				<li><a class="fab fa-twitter" href="#!" target="_blank"></a></li>
				<li><a class="fab fa-youtube" href="#!" target="_blank"></a></li>
				<li><a class="fab fa-instagram" href="#!" target="_blank"></a></li>
				<li><a class="fab fa-linkedin-in" href="#!" target="_blank"></a></li>
			</ul>
		</div>
	</div>
	<div class="bottom-header">
		<div class="container">
			<div class="logo">
				<a href="#!">
					<img src="img/logo.svg" alt="logo text" width="203" height="49">
					<img src="img/logo-footer.svg" alt="logo text" width="149" height="36">
				</a>
			</div>
			<div class="nav-drop">
				<nav id="nav">
					<ul>
						<li>
							<a href="#!">About</a>
						</li>
						<li>
							<a href="#!">Projects</a>
							<div class="drop">
								<ul>
									<li><a href="#!">Project 1</a></li>
									<li><a href="#!">Project 2</a></li>
									<li><a href="#!">Project 3</a></li>
									<li><a href="#!">Project 4</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#!">Solutions</a>
						</li>
						<li>
							<a href="#!">For Landowners</a>
						</li>
						<li>
							<a href="#!">Media</a>
						</li>
						<li>
							<a class="lightbox-opener" href="#popup1">Contact</a>
						</li>
					</ul>
					<ul class="social-networks">
						<li><a class="fab fa-facebook-f" href="#!" target="_blank"></a></li>
						<li><a class="fab fa-twitter" href="#!" target="_blank"></a></li>
						<li><a class="fab fa-youtube" href="#!" target="_blank"></a></li>
						<li><a class="fab fa-instagram" href="#!" target="_blank"></a></li>
						<li><a class="fab fa-linkedin-in" href="#!" target="_blank"></a></li>
					</ul>
				</nav>
			</div>
			<a href="#!" class="nav-opener"><span></span></a>
		</div>
	</div>
</header>